body {
    background: #222222;
    color: #ffffff;
}

.loginUi h1 {
    font-family: "Anton SC", sans-serif;
    font-size: 2rem;
}

.loginUi {
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
}

.login {
    height: 550px!important;
}

body button {
    transition: all 0.2s ease!important;
}

body button:hover {
    scale: 0.95!important;
}

.loginBtn {
    --bs-btn-hover-border-color: none;
    background: #8C00FF;
}

@media all and (min-width: 1024px) {
    .login {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

header button {
    background: transparent;
    border: none;
}

#navbar {
    width: calc(100% - 30px);
    height: 60px;
    margin-top: 15px;
}

#sidebar {
    top: 90px;
    left: 15px;
    width: 250px;

    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;

    border-bottom: none!important;
}

#sidebar button {
    width: 80%;
    background: #8C00FF;
}

.content {
    min-height: calc(100vh - 60px);
    margin-left: 280px;
    margin-right: 15px;
    margin-top: 90px;
}

.custom-box {
    padding: 15px;
    border-radius: 10px;
}

#dashboardSection .card {
    min-height: 300px;
}

#dashboardSection h1 {
    font-family: "Anton SC", sans-serif;
    font-size: 50px;
}

#dashboardSection h2 {
    font-family: "Anton SC", sans-serif;
    color: #ffffff!important;
    font-size: 30px;
}

.search::placeholder {
    color: white;
    opacity: 0.5;
}

.orderForm {
    min-height: 300px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #8C00FF !important;
    color: #ffffff !important;
}

/*Table*/
.custom-thead th {
    color: #FFCC00;
}

#total {
    color: #8C00FF !important;
}